/* Color Palette
https://coolors.co/04080f-507dbc-a1c6ea-bbd1ea-dae3e5
#04080F - rich black FOGRA 29
#507DBC - glaucous
#A1C6EA - baby blue eyes
#BBD1EA - light steel blue
#DAE3E5 - gainsboro
*/

/* Global
----------------------------------------------------- */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #04080F;
	margin: 0;
	padding: 0;
	font-family: 'EB Garamond', 'Times New Roman', serif;
	font-size: 18px;
	line-height: 1.25;
}
img {
	margin: 0;
	width: 15vw;
}
a:link {
	color: #507DBC;
}
a:visited {
	color: gray;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 35px;
}
h1, h2 {
	font-family: 'Fondamento', cursive;
	font-weight: 400;
	margin: 0;
}
h3 {
	margin: 12px 0;
	font-size: 25px;
}

.header-wrap {
	width: 70vw;
	margin: 0 20px;
	text-align: right;
	display: inline-block;
}
.img-wrap {
	width: 20vw;
	margin: 0;
	display: inline-block;
}
.content-wrap {
	width: 80vw;
	margin: 0 auto;
	padding: 10px;
}
.clear {
	clear: both;
}
.name {
	position: fixed;
}
h4 {
	margin-bottom: 0;
}
h4 + p {
	font-style: italic;
	font-weight: bold;
}
h4 ~ p {
	margin: 0;
}
.divider > section {
	border-bottom: 1px dashed #04080F;
	padding: 25px 0;
}
.divider > section:last-of-type {
	border-bottom: none;
}


/* Name and Position
----------------------------------------------------- */
header {
	background: #04080F;
	color: #A1C6EA;
	margin: 0;
	padding: 20px 0;
}


/* Summary
----------------------------------------------------- */
.summary {
	background: #04080F;
	color: #A1C6EA;
}




/* Skills and Proficiency
----------------------------------------------------- */
.skills {
	background: #DAE3E5;
}





/* Work Experience
----------------------------------------------------- */
.work-experience {
	background: #BBD1EA;
}




/* Education
----------------------------------------------------- */
.education {
	background: #DAE3E5;
/*	background-image: url(../images/Education-Logos.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
*/
}
.education section {
	width: 60vw;
}



/* Co-Curricular Activities
----------------------------------------------------- */
.cocurricular {
	background: #BBD1EA;
}



/* Seminars and Training
----------------------------------------------------- */
.seminars {
	background: #DAE3E5;
}




/* Contact Info
----------------------------------------------------- */
footer {
	background: #04080F;
	color: #A1C6EA;
}
.contact-list {
	list-style-type: none;
	padding: 0px;
}
.contact-list a {
	padding: 15px;
	display: inline-block;
}



/* Contact Info
----------------------------------------------------- */
@media screen and (min-width: 750px) {
	footer {
		text-align: center;
	}
	.contact-list {
		display: flex;
		justify-content: center;
	}
	.job-item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;
	}	
}

